@charset "utf-8";

/*Todas as demais medias*/

@media print{
    *{
        font-family: 'Courier New', Courier, monospace;
    }
    body{
        background-image: url('../imagens/back-print.jpg');
    }
    main{
        border: 2px solid black;
        width: 90vw;
    }
    main::after{
        content: 'Esse site foi criado por Willian Martin';
        text-decoration: overline;
        padding-left: 100px;
    }
    main h1{
        text-shadow: none;
        color: black;
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: block;}
    img#pc {display: nonek;}
    img#tv {display: none;}
}

@media screen and (min-width: 550px) and (max-width: 992px){
    body{
        background-image: url("../imagens/back-tablet.jpg");
    }
    img#phone {display: none;}
    img#tablet {display: block;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: none;}
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    body{
        background-image: url("../imagens/back-pc.jpg");
    }
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: block;}
    img#tv {display: none;}
}
@media screen and (min-width: 1200px) {
    body{
        background-image: url('../imagens/back-tv.jpg');
    }
    main{
        width: 700PX;
        background-color: rgba(255, 255, 255, 0.364);
}
    img#phone {display: none;}
    img#tablet {display: none;}
    img#print {display: none;}
    img#pc {display: none;}
    img#tv {display: block;}
}